.clock {
    display: flex;
    gap: 25px 0px;
    flex-wrap: wrap;
    width: 100%;
    color: #fff;
    margin-bottom: 40px;
}

.clock > .time {
    width: 25%;
}

.clock > .time > .value {
    font-size: 40px;
    font-weight: 700;
}

.clock > .time > .label {
    font-size: 15px;
    text-transform: uppercase;
}

@media (max-width:550px) {
    .clock > .time {
        width: 50%;
    }
}

@media (max-width:350px) {
    .clock > .time {
        width: 100%;
    }
}
