.container.hero {
    background-color: var(--main-color);
    background-image: url(../../img/background.jpeg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
}
.container.hero > .short-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}
.hero .logo {
    height: 30px;
    margin-bottom: 25px;
}
.main-title {
    font-size: 50px;
    text-transform: uppercase;
}
.main-description {
    font-size: 21px;
    color: var(--font-color);
}
.section-title {
    font-size: 21px;
    text-transform: uppercase;
}
.section-description {
    font-size: 16px;
    color: var(--font-color);
}
.section-description > a {
    text-decoration: none;
    color: var(--secondary-color);
}
.section-description > a:hover {
    text-decoration: underline;
}
footer.container {
    padding-top: 0;
}
.row.socials {
    font-size: 20px;
    justify-content: center;
    gap: 0.55em;
    padding: 0.6em 0 0.8em;
    margin-bottom: 2em;
    border-bottom: solid 1px white;
}
.socials > a {
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: all 0.4s;
}
.socials > a:hover {
    color: var(--main-color);
    background-color: white;
    border-radius: 3.5em;
}
.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff8;
}
.bottom > .logo {
    margin-bottom: 40px;
}
.bottom > .trio {
    color: #fff4;
    display: flex;
    gap: 0 20px;
}
.bottom > .trio > p {
    position: relative;
}
.bottom > .trio > p + p::before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 18px;
    background-color: #fff4;
    position: absolute;
    left: -10.5px;
}
.bottom a {
    text-decoration: none;
    color: #fff;
}
.bottom a:hover {
    color: #fff4;
}
.footer-description {
    margin-top: 15px;
}

@media (max-width: 900px) {
    .section-title {
        font-size: 18px;
    }
    .section-description {
        font-size: 15px;
    }
}
@media (max-width: 700px) {
    .main-title {
        font-size: 60px;
        display: flex;
        flex-direction: column;
        gap: 20px 0px;
    }
}
@media (max-width:550px) {
    .bottom > .trio {
        flex-direction: column;
        color: #fff4;
    }
    .bottom > .trio > p + p::before{
        content: '';
        display: none;
    }
}

